<section class="benefits-section">
  <div class="container benefits-wrapper">
    <div class="benefits-right-part">
      <h2 class="benefits-title">what's special about our offerings</h2>
      <p class="benefits-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="benefits-list">
        <li class="benefits-item">
          <svg class="benefits-icon" width="48" height="48">
            <use href="./img/icons.svg#icon-rocket"></use>
          </svg>
          <h3 class="benefits-item-title">Fastest Delivery</h3>
          <p class="benefits-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="benefits-item">
          <svg class="benefits-icon" width="48" height="48">
            <use href="./img/icons.svg#icon-touch"></use>
          </svg>
          <h3 class="benefits-item-title">Easy To Order</h3>
          <p class="benefits-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <button class="benefits-btn" type="button">Order Now</button>
    </div>
  </div>
</section>
