<section class="favorites-section" id="favorites">
  <div class="container favorites-wrapper">
    <h2 class="favorites-title">Some of Our Favorites</h2>
    <p class="favorites-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-list">
      <li class="favorites-item">
        <a class="favorites-link link" href="#">
          <img
            class="favorites-img"
            srcset="
              ./img/hamburger-mobile.png     224w,
              ./img/hamburger-tablet.png     268w,
              ./img/hamburger-desktop.png    315w,
              ./img/hamburger-mobile@2x.png  447w,
              ./img/hamburger-tablet@2x.png  536w,
              ./img/hamburger-desktop@2x.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (max-width: 767px) 224px"
            src="./img/gamburger-mobile.png"
            alt="hamburger"
            loading="lazy"
          />
        </a>
      </li>
      <li class="favorites-item">
        <a class="favorites-link link" href="#">
          <img
            class="favorites-img"
            srcset="
              ./img/pasta-mobile.png     225w,
              ./img/pasta-tablet.png     269w,
              ./img/pasta-desktop.png    315w,
              ./img/pasta-mobile@2x.png  449w,
              ./img/pasta-tablet@2x.png  538w,
              ./img/pasta-desktop@2x.png 630w
            "
            sizes="(min-width: 1280px) 315px,(min-width: 768px) 269px, (max-width: 767px) 225px "
            src="./img/pasta-mobile.png"
            alt="pasta"
            loading="lazy"
          />
        </a>
      </li>
      <li class="favorites-item">
        <a class="favorites-link link" href="#">
          <img
            class="favorites-img"
            srcset="
              ./img/pizza-mobile.png     224w,
              ./img/pizza-tablet.png     268w,
              ./img/pizza-desktop.png    315w,
              ./img/pizza-mobile@2x.png  447w,
              ./img/pizza-tablet@2x.png  536w,
              ./img/pizza-desktop@2x.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (max-width: 767px) 224px"
            src="./img/pizza-mobile.png"
            alt="pizza"
            loading="lazy"
          />
        </a>
      </li>
      <li class="favorites-item">
        <a class="favorites-link link" href="#">
          <img
            class="favorites-img"
            srcset="
              ./img/chicken-tablet.png     268w,
              ./img/chicken-desktop.png    315w,
              ./img/chicken-tablet@2x.png  536w,
              ./img/chicken-desktop@2x.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px "
            src="./img/chicken-tablet.png"
            alt="chicken with pice"
            loading="lazy"
          />
        </a>
      </li>
      <li class="favorites-item">
        <a class="favorites-link link" href="#">
          <img
            class="favorites-img"
            srcset="
              ./img/salad-tablet.png     269w,
              ./img/salad-desktop.png    315w,
              ./img/salad-tablet@2x.png  538w,
              ./img/salad-desktop@2x.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 269px"
            src="./img/salad-tablet.png"
            alt="salad"
            loading="lazy"
          />
        </a>
      </li>
      <li class="favorites-item">
        <a class="favorites-link link" href="#">
          <img
            class="favorites-img"
            srcset="
              ./img/borshch-tablet.png     269w,
              ./img/borshch-desktop.png    315w,
              ./img/borshch-tablet@2x.png  538w,
              ./img/borshch-desktop@2x.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 269px"
            src="./img/borshch-tablet.png"
            alt="borshch"
            loading="lazy"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
