<section class="hero-container">
  <div class="container hero-wrapper">
    <div class="hero-left-part">
      <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero-text">
        Savor every bite with fresh, delicious meals delivered right to your
        door. From comforting classics to bold flavors, enjoy great food
        anytime, anywhere!
      </p>
      <button class="hero-order-btn" type="button">Order Now</button>
    </div>

    <div class="hero-right-part">
      <div class="swiper hero-img">
        <div class="swiper-wrapper">
          <img
            class="swiper-slide first-img"
            src="./img/hero-first-desktop.png"
            alt="dish"
          />
          <img
            class="swiper-slide second-img"
            src="./img/hero-second-desktop.png"
            alt="dish"
          />
          <img
            class="swiper-slide third-img"
            src="./img/hero-third-desktop.png"
            alt="dish"
          />
        </div>
      </div>
      <button class="swiper-btn switch-left swiper-button-prev" type="button">
        <svg width="17" height="29" aria-label="slider arrow left">
          <use href="./img/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>

      <button class="swiper-btn switch-right swiper-button-next" type="button">
        <svg width="17" height="29" aria-label="slider arrow right">
          <use href="./img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
