<section class="hero-container" id="about">
  <div class="container hero-wrapper">
    <div class="hero-left-part">
      <h1 class="hero-title">enjoy your favorite food from anywhere</h1>
      <p class="hero-text">
        Savor every bite with fresh, delicious meals delivered right to your
        door. From comforting classics to bold flavors, enjoy great food
        anytime, anywhere!
      </p>
      <button class="hero-order-btn order-open-btn" type="button">
        Order Now
      </button>
    </div>

    <div class="hero-right-part">
      <div class="swiper hero-img">
        <div class="swiper-wrapper">
          <img
            class="swiper-slide first-img"
            srcset="
              ./img/hero-first-tablet.png      292w,
              ./img/hero-first-desktop.png     512w,
              ./img/hero-first-tablet@2x.png   584w,
              ./img/hero-first-desktop@2x.png 1024w
            "
            sizes="(min-width: 1280px) 512px, (min-width: 768px) 292px"
            src="./img/hero-first-tablet.png"
            alt="dish"
          />
          <img
            class="swiper-slide second-img"
            srcset="
              ./img/hero-second-desktop.png     511w,
              ./img/hero-second-desktop@2x.png 1022w
            "
            sizes="(min-width: 1280px) 511px"
            src="./img/hero-second-desktop.png"
            alt="dish"
            loading="lazy"
          />
          <img
            class="swiper-slide third-img"
            srcset="
              ./img/hero-third-desktop.png     511w,
              ./img/hero-third-desktop@2x.png 1022w
            "
            sizes="(min-width: 1280px) 511px"
            src="./img/hero-third-desktop.png"
            alt="dish"
            loading="lazy"
          />
        </div>
      </div>
      <button class="swiper-btn switch-left swiper-button-prev" type="button">
        <svg width="17" height="29" aria-label="slider arrow left">
          <use href="./img/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>

      <button class="swiper-btn switch-right swiper-button-next" type="button">
        <svg width="17" height="29" aria-label="slider arrow right">
          <use href="./img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
