<section class="mobile-menu">
  <div class="mobile-menu-wrapper">
    <button class="mobile-menu-close-btn" type="button">
      <svg class="mobile-menu-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <ul class="mobile-menu-list">
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-link link" href="./index.html">Home</a>
      </li>
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-link link" href="#about">About</a>
      </li>
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-link link" href="#service">Service</a>
      </li>
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-link link" href="#favorites">Menu</a>
      </li>
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-link link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</section>
