.header-section {
  background-color: #fefefe;
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo-link {
  padding: 10px 0;
}
.logo-icon {
  display: block;
}
.nav-list {
  display: none;
}
.order-button {
  display: none;
}
.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
