.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: rgba(94, 99, 99, 0.7);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding-top: 60px;
  transition: opacity 200ms linear, visibility 200ms linear;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.order-modal {
  position: relative;
  max-width: 320px;
  min-height: 449px;
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffe550;
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order-modal-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  line-height: 0;
  transition: fill 200ms linear;
}
.order-modal-close-btn:hover,
.order-modal-close-btn:focus {
  fill: #7eb101;
}
.order-modal-text {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
}
.order-modal-form {
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
}
.order-modal-wrapper {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.order-modal-wrapper-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.order-modal-label {
  padding-left: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}
.order-modal-field {
  max-width: 100%;
  height: 48px;
  border-radius: 30px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 14px 12px;
  font-size: 16px;
  line-height: 1.25;
  outline: transparent;
  outline-offset: 4px;
  border: solid 1px rgba(18, 18, 18, 0.12);
  transition: border 200ms linear;
}
.order-modal-field:hover,
.order-modal-field:focus,
.order-modal-field:valid {
  border: solid 1px #7eb101;
}
.order-modal-field::placeholder {
  color: #c4c4c4;
}
.order-modal-submit-btn {
  align-self: center;
  min-width: 106px;
  height: 40px;
  border-radius: 30px;
  border: solid 2px #7eb101;
  background-color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  transition: background-color 200ms linear;
}
.order-modal-submit-btn:hover,
.order-modal-submit-btn:focus {
  background-color: #d9d9d9;
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding-top: 98px;
    margin: 0 auto;
  }
  .order-modal {
    max-width: 458px;
    padding: 32px 32px;
  }
  .order-modal-close-btn {
    top: 12px;
    right: 12px;
  }
  .order-modal-form {
    max-width: 394px;
  }
}
@media screen and (min-width: 1280px) {
  .backdrop {
    padding-top: 133px;
  }
}
