.subscribe-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.subscribe-img {
  margin-bottom: 17px;
}
.subscribe-title {
  margin-bottom: 20px;
}
.subscribe-text {
  font-size: 14px;
  margin-bottom: 40px;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.subscribe-form-label {
  width: 100%;
}
.subscribe-form-item {
  max-width: 279px;
  width: 100%;
  height: 42px;
  padding: 12px;
  border-radius: 30px;
  border: solid 0.9px #ffe550;
  background-color: #fff;
  font-size: 12px;
  line-height: 1.5;
  outline: transparent;
  outline-offset: 4px;
  transition: border-color 200ms linear;
}
.subscribe-form-item::placeholder {
  color: #505050;
}
.subscribe-form-item:hover,
.subscribe-form-item:focus {
  border-color: #7eb101;
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 103px;
  height: 42px;
  border: none;
  border-radius: 30px;
  background-color: #d9d9d9;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  transition: background-color 200ms linear;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #ffe450;
}
@media screen and (min-width: 768px) {
  .subscribe-img {
    display: none;
  }
  .subscribe-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
  }
  .subscribe-form {
    max-width: 521px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
  }
  .subscribe-form-item {
    max-width: 395px;
  }
  .subscribe-btn {
    background-color: #bbf330;
  }
}
@media screen and (min-width: 1280px) {
  .subscribe-section {
    padding-top: 88px;
    padding-bottom: 88px;
  }
  .subscribe-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .subscribe-img {
    display: block;
    margin-bottom: 0;
  }
  .subscribe-text-part {
    max-width: 656px;
  }
  .subscribe-title {
    line-height: 1.2;
    margin-bottom: 28px;
  }
  .subscribe-text {
    margin-bottom: 34px;
  }
  .subscribe-form {
    max-width: 519px;
    gap: 21px;
  }
  .subscribe-btn {
    background-color: #d9d9d9;
  }
}
